{% extends "base.html" %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block content %}
<script type="text/javascript">
</script>
<section id="content" class="row-fluid wisc">
		<div class="span1 pull-left hidden-phone">&nbsp;</div>
		<article class="span7 pull-left" id="body-text">

			<h3>Welcome, {{ guest }}!</h3>
			<form action="" method="post">{% csrf_token %}
			<p>We're pretty sure these are the people who are in your party. Feel free to change these or add anyone we missed. Also, make sure to check the "attending" box for each guest.</p>
				<div id="init">
					{{ partyForm }}
				</div>
				<button class="btn" type="submit">Submit</button>

			</form>
		</article>

{% endblock %}

