{% extends "base.html" %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block content %}
<script type="text/javascript">
</script>
<section id="content" class="row-fluid stock">
		<div class="span1 pull-left hidden-phone">&nbsp;</div>
		<article class="span7 pull-left" id="body-text">
			<form action="" method="post">{% csrf_token %}
				<div id="lodging" class="">
					<h3>Where are you staying?</h3>
					<div id="gsl_choice">
						<p>We have a block at {{ hotel.name }}. If you would like to stay there, please contact them directly and mention you are part of the {{ wedding }} wedding. There are many rooms available but summer is a busy season so we urge you to book as soon as possible. If you know where you are staying, choose one of the hotels listed or leave this field blank.</p>
						{{ guestform.hotel.errors }}
						{{ guestform.hotel }}
					</div>
				</div>
				<div id="events" class="">
					<h3>Special Events</h3>
					<p>We know that many of our guests are traveling a long way to be at our wedding. We're hosting events throughout the weekend, <a href="/activities">see the activies page for more information</a>. Please let us know which of the events you would like to attend.</p>
					{{ guestform.events.errors }}
					{{ guestform.events }}
					<button class="btn next" type="submit">Submit</button>
				</div>
				<div id="sorry" class="hidden">
					<p>Sorry to hear you can't make it! Feel free to hang out here on the website for a while. You can read <a href="the_cast" >about the bride and the groom</a>, <a href="crew">the wedding party</a>, or go <a href="wedding.harmsboone.org">back to the home page</a>. Did you do this accidentally? Click here to <a href="/rsvp">RSVP again</a>.</p>
				</div>

			</form>
		</article>
		<script type="text/javascript">
		// window.onload = function hide_forms() {
		// 	$("#summary li.other > span.events").hide();

		// 	$("#id_attending").click(function() {
		// 		$(this).toggleClass('checked');
		// 	});

		// 	$( "a.btn").click(function(){
		// 		var clicked = $(this);
		// 		var attending = $("#id_attending")
		// 		if ( attending.hasClass('checked') ) {
		// 			var item = clicked.attr("href");
		// 		} else {
		// 			var item = $("#sorry");
		// 		}

		// 		var current = $(this).parent();
		// 		div_toggle(current);
		// 		div_toggle(item);
		// 	});
		// }

		// $("#guests a.next").click( function() {
		// 	$("<ul></ul>").appendTo($("#summary > ul > li.guests"));
		// 	var guests = $("#guests > p > input[type='text']");
		// 	jQuery.each(guests, function( i, val ) {
		// 		if ( $(val).attr("id").indexOf('first_name') > 0){ 
		// 			var element = $("#summary > ul > li.guests > ul");
		// 			if ($(val).val().length > 0) {
		// 				text = $(val).val();
		// 				$("<li>" + text + "</li>").appendTo( element );
		// 			}
		// 		}
		// 	});
		// 	console.log($("summary > ul > li.guests > ul"));
		// 	console.log("Guests added to summary. Starting to add hotel information.");
		// });
		
		// $("#id_stay_here_0").change( function() {
		// 		var item = $("#else_hotel");
		// 		if ( item.hasClass('hidden') == true ) {	
		// 			div_toggle($(item) );
		// 		}
		// 		if ( $("#if_chippewa").hasClass('hidden') == false ) {
		// 			div_toggle($("#if_chippewa"));
		// 		}
		// 	});

		// $("#id_stay_here_1").change( function() {
		// 	var item = $("#if_chippewa");
		// 	if ( item.hasClass('hidden') == true ) {
		// 		div_toggle($(item) );
		// 		$("select#id_hotel > option:eq(1)").attr('selected', true);
		// 		add_hotel();
		// 	}
		// 	if ( $("#else_hotel").hasClass('hidden') == false ) {
		// 		div_toggle($("#else_hotel"));
		// 	}
		// });
		
		// $("#lodging > .next").click( function() {
		// 	var arr = $("#id_arriving").val();
		// 	var dep = $("#id_departing").val();
		// 	var diff = calc_date_between(arr, dep);
		// 	var target = $("#summary > ul > li.hotel > span.nights");
		// 	add_date_diff(diff, target);
		// });

		// $("#lodging > .back").click( function() {
		// 	$("#summary > ul > li.guests > ul").remove();
		// 	console.log('guests > ul emptied');
		// 	console.log($("summary > ul > li.guests"));
		// });

		// $("#id_hotel").change( function() {
		// 	add_hotel();
		// 	$("#summary > ul > li.hotel > span.nights").remove();
		// 	console.log("Hotel info added, nights removed.");
		// });

		// $("#events > .next").click( function() {
		// 	var checkedEvents = $("#events input");
		// 	checkedEvents.each(function(i, v) {
		// 		if ( $(v).is(":checked") ) {
		// 			var label = $(this).parent();
		// 			var text = $(label).text();
		// 			$("#summary li.other > span.events").prepend(text + ", ");
		// 		}
		// 	});
		// 	if ( checkedEvents.length >= 1 ) {
		// 		$("#summary li.other > span.events").show();
		// 		console.log("events should be showing.");
		// 	}
		// });

		// $("#events > .back").click( function() {
		// 	$("#summary li.hotel > span.nights").empty();
		// 	$("#summary li.hotel > span.name").empty();
		// });

		// $("#summary > .back").click( function() {
		// 	$("#summary > ul > li.other > span.events").empty();
		// })

		// function add_events(checked) {
		// 	var value = checked.html;
		// 	value.appendTo($("li.other"))
		// 	console.log(value);
		// }

		// function div_toggle(item) {
		// 	$(item).toggleClass("hidden");
		// }

		// function ins_html_li_vals(object, element) {
		// 	$("<li>" + object.val() + "</li>").appendTo( element );
		// 	console.log("object: " + object.html());
		// 	console.log("element: " + element.html());
		// }
		
		// function add_hotel() {
		// 	var hotel_span = $("#summary > ul > li.hotel span.name");
		// 	selected = $("#id_hotel option:selected").text();
		// 	hotel_span.text(selected);
		// 	console.log('Guest is staying at ' + selected + ".");
		// }

		// function calc_date_between(arr, dep) {
		// 	var diff = (Date.parse(dep)-Date.parse(arr));
		// 	var diff = diff/(1000*60*60*24);
		// 	console.log("Diff is " + diff);
		// 	return diff;
		// }

		// function add_date_diff(diff, target) {
		// 	$(target).append(diff + " nights");
		// }
		</script>
{% endblock %}

