/* Large desktop */
@media (min-width: 980px) {  
	#content.waters {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/waters.jpg");
	}
	#content.wisc {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/wiscT.jpg");
	/*	background-color: #ccc; */
	}
	
	#content.han {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/hanguk.jpg");
	}
	
	#content.stock {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/stock.jpg");
		background-color: #83ccd8;
		background-position: center top, center bottom;
	}
	
	#content.dist {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/district.jpg")
	}
	
	#content.white {
		background-color: #fafafa;
	}
	#content.hung {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/kapos.jpg");
	}

	#content.dlh {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/dlh.jpg");
	}

	#content.goose {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/harbors.jpg");
	}

	header#front-matter {
		background-image: url('../img/split_rock.jpg');
		width: 100%;
		background-position: 0 -2em;
		background-color: white;
	}
	
	#banner h1, #banner h2 {
		margin-right: 3.5em;
		font-size: 2.5em;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	
	#content.waters {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/waters.d.jpg"); /* width 980px */
	}
	#content.wisc {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/wiscT.d.jpg");
	/*	background-color: #ccc; */
	}
	
	#content.han {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/hanguk.d.jpg");
	}

	#content.stock {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/stock.d.jpg");
		background-color: #83ccd8;
		background-position: center top, center bottom;
	}
	
	#content.dist {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/district.d.jpg");
		background-repeat: repeat-y;
	}
	#content.hung {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/kapos.d.jpg");
	}

	#content.dlh {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/dlh.d.jpg")
	}
	#content.goose {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/harbors.d.jpg");
	}

	header {
		background-image: url('../img/split_rock.d.jpg');
		width: 100%;
		background-position: 0 -2em;
		background-color: white;
	}

	#banner h1, #banner h2 {
		float: right;
		margin-right: 3em;
		font-size: 2.4em;

	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	#content.waters {
	background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/waters.t.jpg"); /* width: 768 */
	}
	#content.wisc {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/wiscT.t.jpg");
	/*	background-color: #ccc; */
	}
	
	#content.han {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/hanguk.t.jpg");
	}

	
	#content.stock {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/stock.t.jpg");
		background-color: #83ccd8;
		background-position: center top, center bottom;
	}
	
	#content.dist {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/district.t.jpg");
		background-repeat: repeat-y;
	}
	#content.hung {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/kapos.t.jpg");
	}

	#content.dlh {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/dlh.t.jpg");
	}

	#content.goose {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/harbors.t.jpg")
	}

	header {
		background-image: url('../img/split_rock.t.jpg');
		width: 100%;
		background-position: 0 -2em;
		background-color: white;
	}

	#banner h1, #banner h2 {
		float: right;
		margin-left: 5em;
		font-size: 1.9em;
		top: -1.2em;
		position: relative;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	#content.waters {
	background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/waters.p.jpg"); /* width: 481px */
	}
	#content.wisc {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/wiscT.p.jpg");
	/*	background-color: #ccc; */
	}
	
	#content.han {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/hanguk.p.jpg");
	}
	
	#content.stock {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/stock.p.jpg");
		background-color: #83ccd8;
		background-position: center top, center bottom;
	}
	
	#content.dist {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/district.p.jpg");
		background-repeat: repeat-y;
	}
	#content.hung {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/kapos.p.jpg");
	}

	#content.dlh {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/dlh.p.jpg");
	}

	#content.goose {
		background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/harbors.p.jpg");
	}

	header {
		background-image: url('../img/split_rock.p.jpg');
		background-repeat: no-repeat;
		width: 100%;
		background-position: 0 0em;
		background-color: white;
	}

	#banner h1, #banner h2 {
		float: right;
		margin-left: 6em;
		font-size: 1.1em;
		top: -2em;
		position: relative;
	}
}

body {
	margin: 0px auto;
	max-width: 1200px;
	background-color: #3b3b3b;
}

body#rsvp {
	background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
	color: #9e2f21;	
}

h1, h2, h3, h4, h5, h6, p, address {
	padding: 0 10px;
}

select {
	width: auto;
}

#banner h2 {
	margin-top: 1em;
	color: #29a7df;
}

a {
	color: #29a7df;
}

#content {
		background-repeat: no-repeat;
}

#content > article > .img {
	width: 60%;
	margin-right: 2em;
}

#content.stock > article > div {
	margin-bottom: 20px;
}

#content.stock > article > div > img {
	width: 30%;
	margin-left: 2em;
}

footer , #content > .nav{
	background-color: rgba(242,242,242,0.75);	
}

article#body-text, article#party, div#sidebar, div#main-event {
	background-color: rgba(242,242,242,0.75);
}

div#main-event {
	margin: 3em 10em;
	padding: 5em 7em;
}

#directions {
	background-image: url("https://harmsboonedotorg.s3.amazonaws.com/img/wiscT.jpg");
	background-color: #686c5e;
	background-position: center top, center bottom;
}

#main-nav {
	background-color: hsla(308, 0%, 100%, 0.75);
	margin-left: 0;
	font-size: 1.3em;
	padding: 0 5.4em 0;
}

#main-nav .pull-left a {
	margin: 0;
	padding: 1em 2.5em;
}

#main-nav .pull-left:hover ul {
	display: block;
	position: absolute;
	background-color: #f3f3f3;
	z-index: 999;
}

#top-nav ul li, {
	list-style: none;
	display: inline-block;

}

#init>input {
	display: inline;
}
.open .dropdown-menu {
	position: static;
	top: 20px;
	left: -20%;
}

#yepnope {
	display: 'inline-block';
}

.party-box {
	display: inline-block;
	width: 100%;
	padding: 1.25em 0;
}

.party-box > span {
	margin-left: 1em;
	display: block;
}

.party-box > img {
	width: 300px;
	height: auto;
	display: inline-block;
	margin-right: 1.25em;
}

div.labels {
	width: 50%;
}

div.labels > label {
	margin-right: 10.6em;
	display: inline-block;
}

div.guestform > input {
	float: left;
	clear:none;
}

.attending-form button {
	float: left;
	clear: both;
}

.errorlist * {
	color: red;
}